<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head> 
<body>
    <div class="container">
        <h1>PetFax</h1>
        <div class="callout">
            We love all kind of animals and we want to make sure they are taken care of.
        </div>
        <div class="pets-container">
            {% for pet in pets %}
                <div class="pet">
                    <h2>{{ pet.pet_name }}</h2>
                    <img src="{{ pet.pet_photo }}" alt="Photo of pet"/>
                    <a href="/pets/{{ pet.pet_id }}">More Facts</a>
                </div>
            {% endfor %}
        </div>
        <div class="callout">
            I'd wish I knew more about the animals. <a href="/facts/new">Tell me more.</a>
        </div>
    </div>
</body>
</html>
